In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("C:\\Users\\svenk\\Downloads\\Education\\VI Sem\\ML Lab\LAB\\height_weight_bmi_data.csv")

In [3]:
df

         Height     Weight        BMI
0           NaN        NaN        NaN
1    174.001572  83.387108  27.541816
2    179.787380  63.665278  19.696281
3    192.408932  71.570710  19.332360
4    188.675580  73.420800  20.624704
..          ...        ...        ...
995  174.128708  71.466262  23.570040
996  168.016011  91.022851  32.244014
997  170.941923  72.376508  24.768543
998  158.523891  52.871479  21.039335
999  166.418859  50.335444  18.174766

[1000 rows x 3 columns]

In [4]:
df.replace({'Height': {0: np.nan}, 'Weight': {0: np.nan}}, inplace=True)

In [5]:
df

         Height     Weight        BMI
0           NaN        NaN        NaN
1    174.001572  83.387108  27.541816
2    179.787380  63.665278  19.696281
3    192.408932  71.570710  19.332360
4    188.675580  73.420800  20.624704
..          ...        ...        ...
995  174.128708  71.466262  23.570040
996  168.016011  91.022851  32.244014
997  170.941923  72.376508  24.768543
998  158.523891  52.871479  21.039335
999  166.418859  50.335444  18.174766

[1000 rows x 3 columns]

In [6]:
df.dropna(inplace=True)

In [7]:
df

         Height     Weight        BMI
1    174.001572  83.387108  27.541816
2    179.787380  63.665278  19.696281
3    192.408932  71.570710  19.332360
4    188.675580  73.420800  20.624704
5    160.227221  73.022199  28.443452
..          ...        ...        ...
995  174.128708  71.466262  23.570040
996  168.016011  91.022851  32.244014
997  170.941923  72.376508  24.768543
998  158.523891  52.871479  21.039335
999  166.418859  50.335444  18.174766

[961 rows x 3 columns]

In [8]:
model = LinearRegression()

In [9]:
xtr,xte,ytr,yte = train_test_split(df[['Height','Weight']],df['BMI'],random_state=42,test_size=0.2)

In [10]:
xtr,xte,ytr,yte

(         Height      Weight
 485  143.443809   70.747859
 963  178.299862   99.830979
 568  170.086279   82.757960
 292  193.039167   72.409918
 114  167.319966  107.895524
 ..          ...         ...
 111  179.060447   88.887507
 282  163.079502   84.501520
 891  174.722472   96.963091
 452  174.631303   75.073382
 106  165.863810   74.035361

 [768 rows x 2 columns],
          Height     Weight
 358  165.203442  42.549572
 396  178.579239  71.978676
 365  171.609282  61.205200
 805  174.052041  60.432392
 289  183.018462  93.644485
 ..          ...        ...
 570  174.537819  54.823389
 37   182.023798  81.503795
 35   171.563490  85.979732
 739  160.119981  68.584112
 682  177.553957  71.292653

 [193 rows x 2 columns],
 485    34.383468
 963    31.402434
 568    28.606928
 292    19.431538
 114    38.539661
          ...
 111    27.723075
 282    31.773552
 891    31.762079
 452    24.617378
 106    26.911377
 Name: BMI, Length: 768, dtype: float64,
 358    15.590391
 396    22.570538
 365    20.782930
 805    19.948560
 289    27.957118
          ...
 570    17.996448
 37     24.599228
 35     29.210995
 739    26.750535
 682    22.614348
 Name: BMI, Length: 193, dtype: float64)

In [11]:
model.fit(xtr,ytr)

LinearRegression()

In [12]:
pred = model.predict(xte)
pred

array([16.29475692, 22.64573254, 20.93368785, 19.94091641, 28.92013966,
       10.06522683, 25.76261422, 20.85299529, 21.06318421, 26.50651446,
       29.31704565, 16.59666606, 26.77624265, 23.78201337, 19.46996831,
       22.59729829, 29.47808809, 31.96803956, 19.10007534, 20.7840595 ,
       30.24538491, 30.62791771, 20.20247118, 20.05647902, 31.57161215,
       19.34420747, 27.68791932, 14.62815833, 25.55220277, 23.75946289,
       24.41232848, 30.73359975, 23.65296058, 17.46954327, 23.56760097,
       21.88389052, 30.04937493, 29.12836568, 37.11646206, 26.00129621,
       31.60076767, 24.57849085, 26.94626957, 35.38654294, 32.48548336,
       15.22459285, 26.56684222, 31.97382856, 26.34640771, 24.75002343,
       21.7559899 , 15.80031526, 21.82943739, 18.1795449 , 33.66314743,
       11.75715833, 20.28731594, 20.8819726 , 28.05018311, 25.82583046,
       19.00561969, 24.92961924, 22.04585966, 28.47630378, 20.59995046,
       25.56724023, 23.20683186, 20.45503458, 25.7796845 , 21.02577017,
       23.04015259, 26.7957945 , 20.1794559 , 27.08759041, 26.32134121,
       27.68332802, 15.26542845, 19.81901283, 28.64308448, 17.22075553,
       27.14560257, 20.90956288, 27.02798686, 28.8458064 , 31.99367078,
       25.88889779, 19.84012674, 21.07487279, 13.11986506, 17.56974721,
       23.54510464, 29.48496282, 31.63349816, 31.79344916, 26.40511923,
       31.71554898, 25.29030621, 30.25239782, 29.80971634, 29.43412932,
       32.41925986, 22.05936659, 20.96698389, 22.61901952, 16.75680724,
       35.87614742, 23.57103905, 21.55207249, 26.51631673, 17.49160126,
       29.13260242, 30.78809945, 19.26967014,  5.1828144 , 30.91827996,
       25.78793319, 22.8066568 , 22.91673473, 31.34391079, 17.68206085,
       23.91786363, 22.75420188, 24.48135448, 17.24068246, 21.51750995,
       35.63237022, 17.85149881, 16.91576713, 26.48198627, 20.07399282,
       30.51599878, 25.27388012, 17.6717124 , 25.76742107, 24.4455161 ,
       22.76395992, 20.80521156, 24.47578682, 19.03032703, 17.99176173,
       16.25582106, 17.95613965, 14.88738768, 13.31686895, 31.82440915,
       18.68681194, 27.77232881, 32.3944669 , 16.46016322, 21.85233876,
       27.74685297, 28.79387655, 23.14139431, 26.31057569, 18.73558048,
       22.08445878, 25.13185544, 35.53790575, 23.52056617, 26.2478068 ,
       21.79370453, 18.60461227, 25.08061896, 31.06726746, 27.19043745,
       24.02280274, 26.43197371, 26.51750572, 20.48235174, 30.46974632,
       31.29296118, 26.07381641, 34.39273591, 40.06759536, 19.09298977,
       23.3688355 , 25.53552574, 16.78168982, 33.48991501, 21.2226038 ,
       28.19214615, 20.13628703, 23.93611236, 18.38824282, 23.27243164,
       23.00867652, 24.67352322, 29.9853823 , 17.83318461, 24.96285273,
       29.62259496, 26.91417527, 22.70861075])

In [13]:
model.coef_

array([-0.29563088,  0.35017288])

In [14]:
model.intercept_

50.23429037321689

In [17]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score,mean_squared_error
print(mean_squared_error(yte,pred))
print(mean_absolute_error(yte,pred))
print(mean_absolute_percentage_error(yte,pred))
print(r2_score(yte,pred))
print((mean_squared_error(yte,pred))**0.5)

0.605885522687358
0.49116583146442966
0.022786521162158402
0.9808388317311817
0.7783864867065448